/*règles CSS pour les mobiles*/

@media all and (max-device-width: 480px)
{

#bloc_page
{
    width: auto;
    margin: auto;
}

#hebergements
{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
}


#populaires
{
    display: flex;
    flex-wrap: wrap;
}


}