/* Styles spécifiques pour les écrans de taille moyenne type tablette*/

@media screen and (max-width: 1280px)

{

nav
{
	width: auto;
	text-align: left;
}

nav ul
{
	flex-direction: column;
}

nav li
{
	padding-left: 4px;
}

nav a
{
	font-size: 1.1em;
}

#bloc_page
{
    width: auto;
    margin: auto;
}

section
{
	float: left;
}

aside
{
    float: left;
}

#populaires
{
    flex-direction: row;
}

.card2 img
{
	width: 190px;
    height: 80px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#activites
{
	flex-direction: row;
	flex-wrap: wrap;
}

#left
{
	flex-direction: row;
}

#right
{
	flex-direction: row;
}

}