/* Styles spécifiques pour les écrans de taille moyenne type tablette*/

@media screen and (max-width: 1280px)

{

/* header*/

#bloc_page
{
    width: auto;
    margin: auto;
}

nav
{
	width: auto;

}

nav ul
{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

nav li
{
	display: flex;
	justify-content: center;
}


/* Mise en forme icones */

#icones
{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
	width: 80%;
}

/*section et aside*/


aside
{

	width: 92%;
	
}

/*hébergements*/

#hebergements
{
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-bottom: 50px;
	margin-left: 40px;
}

.cardheader-text
{
	position: relative;
	right: 275px;
}

.card img
{
    width: 220px;
	height: 80px;
}

.card
{

	align-items: center;
}

.cardfooter-text
{
	position: relative;
	right: 300px;
}

/*populaires*/

#populaires
{
	display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 86%;
	float: left;
	padding-top: 20px;
	padding-bottom: 100px;
	padding-right: 10px;
	margin-left: 40px;
	margin-right: 40px;
}

.card2header-text
{
	position: absolute;
	
}

.card2-text
{
	text-indent: 0.8em;
	line-height: 1em;
}

.fa-chart-line
{
	position: relative;
	left: 150px;
	top: 20px;
}

.card2 img
{
	width: 220px;
    height: 80px;
    display: flex;
    border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 0px;
}

.card2
{
	background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
	top: 30px;
	left: -10px;
	padding-bottom: 100px;
    margin-top: 30px;
}

/*activités*/

#activites
{
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	margin-top: 10px;
	margin-left: 30px;
}

.card3header
{
	margin-left: 25px;
	margin-top: 20px;
}

#left
{
	flex-direction: row;
}

#right
{
	flex-direction: row;
}

}

#left2
{
	flex-direction: row;
}

#right2
{
	flex-direction: row;
}

.card3
{
	margin-top: 40px;
	margin-left: 40px;
}

.card3right1
{
	margin-top: 40px;
}

.card3right2
{
	margin-top: 50px;
}

.right2-text
{
	margin-top: 80px;
}

.card4right1
{
	margin-left: 10px;
}

.card4right2
{
	margin-top: 40px;
	margin-left: 10px;

}

/* Footer*/

footer
{
	width: 100%;
}

.titre_propos
{
    margin-left: 40px;
}

.liste_propos
{
    margin-right: 100px;
}

.titre_hebergements
{
    margin-left: 40px;
}

.liste_hebergements
{
    margin-right: 100px;
}


.titre_assistance
{
    margin-left: 40px;
}

.liste_assistance
{
    margin-right: 100px;
}


}