@font-face {
    font-family: 'Raleway';
    src: url('Font/Raleway-VariableFont_wght.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;

}

body
{
    font-family: 'Raleway';
    margin: 0;
}

.header {
    display: grid;
    align-items: center;
    max-width: 1440px;
    margin: auto;
  }
  .logo {
    grid-area: logo;
    padding: 0 2rem;
    height: 2.813rem;
  }
  .headerMenu {
    display: flex;
    align-items: center;
    grid-area: navbar;
  }
  .headerMenuLien {
    padding: 2rem;
    font-weight: 500;
    text-align: center;
    transition-duration: 0.1s;
    border-top: 3px transparent solid;
    border-bottom: 3px transparent solid;
  }
  .headerMenuLien[data-active=true] {
    color: #0065FC;
  }
  .headerMenuLien:hover {
    color: #0065FC;
  }
  .headerInscrire {
    display: flex;
    align-items: center;
    grid-area: button;
    padding: 2rem;
    color: #0065FC;
    font-weight: 600;
  }
  
  @media screen and (min-width: 601px) {
    .header {
      grid-template-columns: auto 1fr auto auto;
      grid-template-areas: "logo . navbar button";
    }
    .headerMenuLien[data-active=true] {
      border-top: 3px solid #0065FC;
    }
    .headerMenuLien:hover {
      border-top: 3px solid #0065FC;
    }
  }
  @media screen and (max-width: 600px) {
    .header {
      grid-template-columns: auto 1fr auto;
      grid-template-areas: "logo . button" "navbar navbar navbar";
    }
    .logo {
      order: 0;
    }
    .headerInscrire {
      order: 1;
    }
    .headerMenu {
      order: 2;
    }
    .headerMenuLien {
      border-top: none;
      border-bottom: 3px solid #F2F2F2;
      width: 50%;
    }
    .headerMenuLien[data-active=true] {
      border-bottom-color: #0065FC;
    }
    .headerMenuLien:hover {
      border-bottom-color: #0065FC;
    }
  }

/* Recherche*/

#recherche
{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: left;
    width: 100%;
}


#site-search
{
    display: inline-block;
    width: 25%;
    height: 41px;
    vertical-align: middle;
    border-top: solid #F2F2F2;
    border-bottom: solid #F2F2F2;
    border-left: none;
    border-right: none;
    font-family: 'Raleway';
    font-weight: bold;
}


.recherche_touche
{
    background-color: #0065FC;
    color: #FFFFFF;
    position: relative;
    bottom: 1px;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1%;
}

.fa-map-marker-alt
{
    background-color: #F2F2F2;
    width: 0,5%;
    height: 1%;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 1%;
 

}

/* icone info inner i et info text*/

#icone_info
{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.fa-info {
  color: #0065FC;
  position: relative;
    bottom: 10px;
    font-size: 15px;
}


.info-text
{
    position: relative;
    bottom: 5px;
    right: 10px;
}

/* couleur des stars des icônes et mise en forme !*/

.fa-star
{
    color: #F2F2F2;
    text-indent: 0.9em;
    letter-spacing: -0.9em;
}

.checked {
  color: #0065FC;
  }

#icones
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    width: 75%;

}

.fa-circle
{
    color: #DEEBFF;
    font-size: 50px;
    position: absolute;

}

.fa-money-bill-wave
{

    color: #0065FC;
    position: relative;
    top: 15px;
    left:15px;

}


.fa-child
{
    color: #0065FC;
    position: relative;
    top: 15px;
    left:20px;
}

.fa-heart
{
    color: #0065FC;
    position: relative;
    top: 15px;
    left:17px;
}

.fa-dog
{
    color: #0065FC;
    position: relative;
    top: 15px;
    left:17px;
}

.icone-text
{
	float: right;
    text-align: center;
    line-height: 20px;
	border: solid;
	border-radius: 20px;
    border-color: #F2F2F2;
    padding-left: 40px;
    padding-right: 15px;
    padding-bottom: 9px;
    padding-top: 15px;
    margin-top: 1px;
}


/* Bloc section hébergements*/


#hebergements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 60%;
    float: left;
}

.card img
{
    width: 190px;
    height: 80px;
    object-fit: cover;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardheader
{
    position: absolute;

}

.card
{
	background-color: #FFFFFF;
    border-radius: 10px;
	padding: 5px;
	padding-bottom: 5px;
	margin: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}


.card-text
{
    text-indent: 0.8em;
}

.cardfooter
{
    margin: 15px;
}

/* Bloc section populaires */

aside
{
	width: 30%;
    float: right;
    margin-right: 80px;
}

#populaires
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px;
    padding-bottom: 5px;
}

.fa-chart-line
{
    position: relative;
    left: 300px;
    bottom: 35px;
}

.card2 img
{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.card2
{
    background-color: #FFFFFF;
    height: 100px;
	border-radius: 10px;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    
    margin: 10px;
}

.card2-text
{

    text-indent: 0.8em;
    line-height: 1em;

}


/* img aside*/

.flotte
{
    float: left;
}


/* Bloc section activites*/

#activites
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.card3header
{
    position: absolute;

}

#left
{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    position: relative;
    right: 20px;
}

#right
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    position: relative;
    right: 20px;
}

#left2
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    position: relative;
    right: 15px;
}

#right2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
    right: 20px;
}

.card3 img
{
    width: 240px;
    height: 330px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card3
{
background-color: #FFFFFF;
box-shadow: 0px 0px 2px 2PX #F2F2F2;
border-radius: 10px;
margin: 30px;
}

.card3right1 img
{
    width: 240px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card3right1
{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 2PX #F2F2F2;
    border-radius: 10px;
    margin: 20px;
}

.card3right2 img
{
    width: 240px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card3right2
{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 2PX #F2F2F2;
    border-radius: 10px;
    margin: 20px;
}


.card3-text
{
    font-size: 0.9em;
    margin: 15px;
}


.right1-text
{
    font-size: 0.9em;
    margin: 15px;
}

.right2-text
{
	font-size: 0.9em;
    margin: 15px;
}

.card4 img
{
    width: 240px;
    height: 330px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card4
{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 2PX #F2F2F2;
    border-radius: 10px;
    margin: 30px;
}

.card4right1 img
{
    width: 240px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card4right1
{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 2PX #F2F2F2;
    border-radius: 10px;
    margin: 30px;
}

.card4right2 img
{
    width: 240px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card4right2
{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 2px 2PX #F2F2F2;
    border-radius: 10px;
    margin: 30px;
}

.card4-text
{
    font-size: 0.9em;
    margin: 15px;
}

.card4right1-text
{
	font-size: 0.9em;
    margin: 15px;
    padding-bottom: 5%;
}

.card4right2-text
{
	font-size: 0.9em;
    margin: 15px;
    padding-bottom: 5%;
}



/* Footer*/


footer
{
    background-color: #F2F2F2;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
}


.titre_propos
{
    margin-left: 40px;
}

.liste_propos
{
    margin-right: 120px;
}

.titre_hebergements
{
    margin-left: 40px;
}

.liste_hebergements
{
    margin-right: 120px;
}


.titre_assistance
{
    margin-left: 40px;
}

.liste_assistance
{
    margin-right: 120px;
}


#apropos ul
{
   list-style-type: none;
   display: flex;
   flex-direction: column;
}

#nos ul
{
   list-style-type: none;
   display: flex;
   flex-direction: column;
}

#assistance ul
{
   list-style-type: none;
   display: flex;
   flex-direction: column;
}


.liste_propos a
{
    
   font-size: 0.9em;
   text-decoration: none; 
   color: #000000;
}


.liste_hebergements a
{
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
}

.liste_assistance a
{
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
}