@font-face {
    font-family: 'Raleway';
    src: url('Font/Raleway-VariableFont_wght.ttf') format('TrueType');
    font-weight: normal;
    font-style: normal;

}

body
{
	font-family: 'Raleway';
}


/* Header */

h1
{
	font-size: 1.4em;
	font-weight: normal;
}

nav ul
{
    list-style-type: none;
    display: flex;
    justify-content: center;

}

nav li
{
    margin-right: 20px;
    justify-content: center;

}
    
nav a
{

    font-size: 0.9em;
    color: #0065FC;
    padding-bottom: 3px;
    text-decoration: none;

}

/* Recherche*/

#recherche
{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: left;
    width: 80%;
}


.recherche_ex
{
 	background-color: #FFFFFF;
 	border-width: 0px;
 	border-top: solid #F2F2F2;
    border-bottom: solid #F2F2F2;
    position: relative;
    left: 10px;
    right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 15px;

}

.recherche_touche
{
	background-color: #0065FC;
	color: #FFFFFF;
	border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 15px;
    margin-left: -5px;
}

.fa-map-marker-alt
{
	background-color: #F2F2F2;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin: 17px;
    margin-right: -11px;
}

#icone_info
{
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


/* inner i*/
.fa-info {
  color: #0065FC;
  position: relative;
    bottom: 16px;
    left: 25px;
    font-size: 15px;
}

/* couleur des stars des icônes et mise en forme !*/

.fa-star
{
    color: #F2F2F2;
    text-indent: 0.9em;
    letter-spacing: -0.9em;
}

.checked {
  color: #0065FC;
  }

#icones
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px;
    width: 60%;

}

.fa-circle
{
    color: #DEEBFF;
    font-size: 50px;
    position: absolute;

}

.fa-money-bill-wave
{

    color: #0065FC;
    position: relative;
    top: 15px;
    left:15px;

}


.fa-child
{
    color: #0065FC;
    position: relative;
    top: 15px;
    left:20px;
}

.fa-heart
{
    color: #0065FC;
    position: relative;
    top: 15px;
    left:17px;
}

.fa-dog
{
    color: #0065FC;
    position: relative;
    top: 15px;
    left:17px;
}

.icone-text
{
	float: right;
	text-align: center;
	border: solid;
	border-radius: 10px;
    border-color: #F2F2F2;
    padding-left: 40px;
    padding-bottom: 9px;
    margin-top: 15px;

}


/* Bloc section hébergements*/


#hebergements
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 25px;
    margin-bottom: 20px;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 55%;
    float: left;
}

.card img
{
    width: 190px;
    height: 80px;
    display: flex;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cardheader
{
    position: absolute;

}

.card
{
	background-color: #FFFFFF;
    border-radius: 10px;
    position: relative;
    top: 20px;
	padding: 5px;
	padding-bottom: 5px;
	margin: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.card-text
{
    text-indent: 0.8em;
}

.cardfooter
{
    position: relative;
    top: 20px;
}

/* Bloc section populaires */

aside
{
	width: 30%;
    float: right;
    margin-right: 80px;
}

#populaires
{
    display: flex;
    flex-direction: column;
    background-color: #F2F2F2;
    border-radius: 10px;
    padding: 20px;
}


.card2 img
{
    width: 100px;
    height: 140px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.card2
{
    background-color: #FFFFFF;
    height: 130px;
	border-radius: 10px;
	border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-bottom: 15px;
    padding-top: 5px;
    padding-left: 5px;
    margin: 10px;
}

.card2-text
{
    display: inline-block;
    vertical-align: middle;
    text-indent: 1em;
    line-height: 10%;
}


/* img aside*/

.flotte
{
    float: left;
}


/* Bloc section activites*/

#activites
{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    width: 100%;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.card3header
{
    position: absolute;

}


#left
{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    position: relative;
    right: 20px;
}

#right
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    position: relative;
    right: 20px;
}

#left2
{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    position: relative;
    right: 15px;
}

#right2
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10px;
    position: relative;
    right: 20px;
}


.card3
{
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 20px;
}

.card3right1
{
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 20px;
}

.card3right2
{
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 20px;
    margin-top: 20px;
}

.card3-text
{
    font-size: 0.9em;
    margin: 15px;
}


.right1-text
{
    font-size: 0.9em;
    margin: 15px;
}

.right2-text
{
	font-size: 0.9em;
    margin: 15px;
}


.card4
{
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 30px;
}

.card4right1
{
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 40px;
}

.card4right2
{
    border-radius: 10px;
    background-color: #FFFFFF;
    box-shadow: 0px 6px 0px #F2F2F2;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 40px;
    margin-top: 1px;
    
}

.card4-text
{
    font-size: 0.9em;
    margin: 10px;
}

.card4right1-text
{
	font-size: 0.9em;
    margin: 10px;
}

.card4right2-text
{
	font-size: 0.9em;
    margin: 10px;
}



/* Footer*/


footer
{
    background-color: #F2F2F2;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
}


.titre_propos
{
    margin-left: 40px;
}

.liste_propos
{
    margin-right: 120px;
}

.titre_hebergements
{
    margin-left: 40px;
}

.liste_hebergements
{
    margin-right: 120px;
}


.titre_assistance
{
    margin-left: 40px;
}

.liste_assistance
{
    margin-right: 120px;
}


#apropos ul
{
   list-style-type: none;
   display: flex;
   flex-direction: column;
}

#nos ul
{
   list-style-type: none;
   display: flex;
   flex-direction: column;
}

#assistance ul
{
   list-style-type: none;
   display: flex;
   flex-direction: column;
}


.liste_propos a
{
    
   font-size: 0.9em;
   text-decoration: none; 
   color: #000000;
}


.liste_hebergements a
{
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
}

.liste_assistance a
{
    font-size: 0.9em;
    text-decoration: none;
    color: #000000;
}